body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EFEBE5;
  color: #333;
}

header {
  background-color: #FF7E73;
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.menu li {
  display: inline;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.menu a:hover {
  background-color: #555;
  border-radius: 5px;
}

main {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.container img {
  width: 30%; /* Adjust the width of the images as needed */
  height: auto;
}

.content-section {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.content-section h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}

.content-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content-section li {
  margin: 0.5rem 0;
}

.content-section a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.content-section a:hover {
  color: #0056b3;
}

.ai-section {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-top: 15px;
}

footer {
  background-color: #FF7E73;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

footer p {
  margin: 0;
}
